@import url("https://fonts.googleapis.com/css?family=Arimo");

p{font-family: Arimo; color: yellow}

body{background-color: skyblue}

h1{text-align: center; color: darkred; font-family: Arimo;}
div{background-color: green}
